@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.root {
    -fx-background-color: #494CA2;
    -fx-font-family: 'Montserrat', sans-serif;
}

.label {
    -fx-text-fill: #E3E7F1;
    -fx-font-family: 'Montserrat', sans-serif;
}

.text {
    -fx-text-fill: #E3E7F1;
}

.button {
    -fx-background-color: #E3E7F1;
    -fx-background-radius: 0;
}

.button:hover {
    -fx-background-color: #C6CBEF;
}