
.root {
    -fx-background-color: #222831;
}

.label {
    -fx-text-fill: #EEEEEE;
}

.button {
    -fx-background-color: #EEEEEE;
    -fx-background-radius: 0;
}

.button:hover {
    -fx-background-color: #00ADB5;
}

.text-area {
    text-area-background: #393E46;
    -fx-text-fill: #EEEEEE;
}

.text-area .content {
    -fx-background-color: text-area-background;
}

.list-view {
    -fx-background-color: #393E46;
}
.list-view .list-cell {
    -fx-control-inner-background: #393E46;
    -fx-text-fill: #EEEEEE;
    -fx-font-size: 1.2em ;
}
